body{
	font-family: sans-serif;
	background:#696969;
	color #696969;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;

}

.tulisan_daftar{
	text-align: center;
	align-content: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_daftar{
	width: 550px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;

}
.kotak_1{
	align-content: center;
	font-family: 'Bungee', cursive;
	width: 200px;
	background: #ff6600;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	color: white;
}

.kotak_2{
	font-style: center;
	align-content: center;
	color: white;
	font-family: 'Bungee', cursive;
	width: 200px;
	background: #ff6600;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}

label{
	font-size: 11pt;
}

.form_daftar{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 13px;
}

.tombol_daftar{
	background: #ff6600;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}